.form {
  display: flex;
  flex-direction: column;
}

.formDiv {
  display: flex;
}

.formInfo {
  font-size: 1.125rem;
  padding: 0.5rem 1rem;
  background: rgba(105, 10, 10, 0.774);
  color: #eee;
  display: flex;
  justify-content: space-between;
}

.formInfo>button {
  background: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.input {
  border: none;
  border-radius: 0;
  padding: 5%;
  width: 80%;
  font-size: 1.2em;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.sendButton {
  color: #fff !important;
  text-decoration: none;
  background: #630000;
  padding: 20px;
  display: inline-block;
  border: none;
  width: 20%;
  font-size: 1.5rem;
  cursor: pointer;
}

.sendButton:hover {
  scale: 0.75;
}